<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sy.dao.UserMapper">
	<resultMap id="BaseResultMap" type="sy.model.User">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="CREATEDATETIME" property="createdatetime"
			jdbcType="VARCHAR" />
		<result column="MODIFYDATETIME" property="modifydatetime"
			jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="PWD" property="pwd" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, CREATEDATETIME, MODIFYDATETIME, NAME, PWD, CREATE_TIME,
		UPDATE_TIME
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tuser
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tuser
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="sy.model.User">
		insert into tuser (ID,
		CREATEDATETIME, MODIFYDATETIME,
		NAME, PWD, CREATE_TIME,
		UPDATE_TIME)
		values (#{id,jdbcType=VARCHAR}, #{createdatetime,jdbcType=VARCHAR},
		#{modifydatetime,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
		#{updateTime,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="sy.model.User">
		insert into tuser
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createdatetime != null">
				CREATEDATETIME,
			</if>
			<if test="modifydatetime != null">
				MODIFYDATETIME,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="pwd != null">
				PWD,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createdatetime != null">
				#{createdatetime,jdbcType=VARCHAR},
			</if>
			<if test="modifydatetime != null">
				#{modifydatetime,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="sy.model.User">
		update tuser
		<set>
			<if test="createdatetime != null">
				CREATEDATETIME = #{createdatetime,jdbcType=VARCHAR},
			</if>
			<if test="modifydatetime != null">
				MODIFYDATETIME = #{modifydatetime,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				PWD = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="sy.model.User">
		update tuser
		set
		CREATEDATETIME = #{createdatetime,jdbcType=VARCHAR},
		MODIFYDATETIME =
		#{modifydatetime,jdbcType=VARCHAR},
		NAME = #{name,jdbcType=VARCHAR},
		PWD = #{pwd,jdbcType=VARCHAR},
		CREATE_TIME =
		#{createTime,jdbcType=VARCHAR},
		UPDATE_TIME =
		#{updateTime,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>


	<!-- 1. -->
	<select id="getAll" resultMap="BaseResultMap">
		select ID, CREATEDATETIME,
		MODIFYDATETIME, NAME, PWD from tuser
	</select>


	<!-- 2 N+1次查DB -->
	<select id="getAll2" resultMap="userResultMap2">
		select ID, CREATEDATETIME,
		MODIFYDATETIME, NAME, PWD from tuser
	</select>
	<select id="selectUserRoleByUserID" parameterType="java.lang.String"
		resultType="sy.model.UserRole">
		SELECT tuser_trole.ID, tuser_trole.ROLE_ID,
		tuser_trole.USER_ID FROM tuser_trole
		where
		tuser_trole.user_id=#{id,jdbcType=VARCHAR}
	</select>
	<resultMap type="sy.model.User" id="userResultMap2" extends="BaseResultMap">
		<collection property="listRoles" column="ID" javaType="list"
			select="selectUserRoleByUserID" />
	</resultMap>

	<!-- 3 -->
	<select id="getAll3" resultMap="userResultMap3">
		SELECT
		tuser.ID,
		tuser.CREATEDATETIME,
		tuser.MODIFYDATETIME,
		tuser.`NAME`,
		tuser.PWD,
		tuser.CREATE_TIME,
		tuser.UPDATE_TIME,
		tuser_trole.ID UR_ID,
		tuser_trole.USER_ID UR_UID,
		tuser_trole.ROLE_ID UR_RID
		FROM
		tuser
		INNER
		JOIN tuser_trole
		ON tuser.ID = tuser_trole.USER_ID
	</select>
	<resultMap type="sy.model.User" id="userResultMap3" extends="BaseResultMap">
		<collection property="listRoles" javaType="list"
			ofType="sy.model.UserRole">
			<!-- 
				property:Bean中 的属性名 
				column:SELECT中的字段名 
			-->
			<id property="id" column="UR_ID" />
			<result property="userId" column="UR_UID" />
			<result property="roleId" column="UR_RID" />
		</collection>
	</resultMap>


	<!-- 4 -->
	<select id="getAll4" resultMap="userResultMap4">
		SELECT
		tuser.ID,
		tuser.CREATEDATETIME,
		tuser.MODIFYDATETIME,
		tuser.`NAME`,
		tuser.PWD,
		tuser.CREATE_TIME,
		tuser.UPDATE_TIME,
		tuser_trole.ID UR_ID,
		tuser_trole.USER_ID UR_UID,
		tuser_trole.ROLE_ID UR_RID,
		trole.ID R_ID,
		trole.TEXT R_TEXT
		FROM
		tuser
		INNER JOIN tuser_trole ON tuser.ID = tuser_trole.USER_ID
		INNER JOIN trole ON tuser_trole.ROLE_ID = trole.ID
	</select>
	<resultMap type="sy.model.User" id="userResultMap4" extends="BaseResultMap">
		<collection property="listRoles" javaType="list" ofType="sy.model.UserRole">
			<id property="id" column="UR_ID" />
			<result property="userId" column="UR_UID" />
			<result property="roleId" column="UR_RID" />
			<!--
				UserRole中的role
			-->
			<association property="role" javaType="sy.model.Role">
				<id property="id" column="R_ID" ></id>
				<result property="text" column="R_TEXT"></result>
			</association>
		</collection>
	</resultMap> 
</mapper>